body{
	font-family: $font_family;
}
/** 明朝体 **/
.min{
	font-family: $font_family_min;
}
/** bold **/
.fwb {
    font-weight: bold;
}
/** normal **/
.fwn{
	font-weight: normal;
}
a{
   @include link_color($link_color);
}
/** position: relative; **/
.pos-r{
	position: relative;
}
/** overflow: hidden; **/
.ov-h{
	overflow: hidden;
}
/** width: 100%; **/
.w100p{
	width: 100%;
}

/** include margin and paddings mixin **/
@include mp();
