$region_name : 'top';
/**
*	.m+(t|l|r|b)+(int*5) or .p+(t|l|r|b)+(int*5) 
*	Element add margins and paddings.
**/
@mixin mp(){
	@each $region in t, l, r, b{
		@include get_region($region);
		@for $i from 1 through 10{
				.m#{$region}#{$i*5} {
					margin-#{$region_name}:#{$i*5}px;
			 	 }
			 	.p#{$region}#{$i*5} {
					padding-#{$region_name}:#{$i*5}px;
			 	 }
			 }
	}
}
/**
*	 get region by t|l|r|b
*	 return top|left|right|bottom
**/
@mixin get_region($region){
	@if 	$region == t{
		$region_name : 'top';
	}
	@elseif $region == l{
		$region_name : 'left';
	}
	@elseif $region == r{
		$region_name : 'right';
	}
	@elseif $region == b{
		$region_name : 'bottom';
	}
}

/**
*	 link color
*	 :visited is this color.
*	 :hover|:active|:focus is lighten 20%
**/
@mixin link_color($color) {
     color: $color;
     &:visited{
		  // color: $color;
     }
     &:hover, &:active, &:focus {
         color: darken($color, 20%);
     }
}

/**
*	Adding border radius 
*	
**/
@mixin radius($value) {
     @each $pre in $prefix {
          #{$pre}border-radius: $value;
     }
}
/**
*	Adding box-shadow
*
**/
@mixin box-shadow($value){
	@each $pre in $prefix {
          #{$pre}box-shadow: $value;
     }
}



/**
*	easeOutQuart
*
**/
@mixin easeOutQuart($ms:500){
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    }
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    }
}
/**
*	easeOutBack
*
**/
@mixin easeOutBack($ms:500){
	-webkit-transition: all #{$ms}ms cubic-bezier(0.175, 0.885, 0.320, 1);
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    }
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); 
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
}
/**
*	easeInOutBack
*
**/
@mixin easeInOutBack($ms:500){
	-webkit-transition: all #{$ms}ms cubic-bezier(0.175, 0.885, 0.320, 1);
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    }
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }
}

/**
*	easeOutCubic
*
**/
@mixin easeOutCubic($ms:500){
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    }
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    }
}
/**
*	easeInOutQuart
*
**/
@mixin easeInOutQuart($ms:500){
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    }
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }
}
/**
*	easeInOutCubic
*
**/
@mixin easeInOutCubic($ms:500){
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
}

/**
*	easeInOutExpo
*
**/
@mixin easeInOutExpo($ms:500){
	@each $pre in $prefix {
          #{$pre}transition: #{$ms}ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    }
    @each $pre in $prefix {
          #{$pre}timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    }
}